body {
	font-family: $font-copy;
}
.clear:before, .clear:after { content: " "; display: table; }
.clear { *zoom: 1; }
.clear {clear: both;}
div,h1,h2,h3,h4,h5,h6,p,li,a,span,strong {
	overflow-wrap: normal;
	word-wrap: normal;

	-ms-word-break: normal;
	word-break: normal;
	word-break: normal;

	-ms-hyphens: none;
	-moz-hyphens: none;
	-webkit-hyphens: none;
	hyphens: none;
	page-break-inside: avoid;
}
.donate {
	width: auto;
	position: relative;
	z-index: 10000;
	font-family: $font-heading;
	font-weight: 400;
	text-align: center;
	@media screen and (min-width: $tabwidth) {
		position: fixed;
		top: 0;
		right: 5%;

	}
	a {
		padding: 5px 20px;
		border-radius: 0 0 10px 10px;
		display: block;
		background-color: $color-orange;
		color: #fff;
		font-size: 26px;
		text-decoration: none;
	}
}
.wrapper {
	width: 100%;
	margin: 0px auto;
	padding: 20px;
	
	@media screen and (min-width: $tabwidth) {
		width: 100%;
	}
	@media screen and (min-width: $deskwidth) {
		width:90%;
		padding: 0px;
	}
}
.site-content {
	padding: 10px;
	@media screen and (min-width: $tabwidth) {
		padding: 0;
	}
}
#masthead {
	padding: 155px 0 10px;
	@media screen and (min-width: $tabwidth) {
		padding: 43px 0 10px;
	}
	.wrapper {
		padding-top: 0;
		padding-bottom: 0;
	}
}
.headerflex {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: left;
	@media screen and (min-width: $tabwidth) {
		flex-direction: row;
		align-items: center;
	}
}
.content-area {
	width: 100%;
	margin: 0px auto;
	
	@media screen and (min-width: $tabwidth) {
		width: 66%;
		float: left;
		margin: 0;
	}
	@media screen and (min-width: $deskwidth) {
		/*width: 1200px;*/
	}
}

.widget-area {
	width: 100%;
	margin: 0px auto;
	
	@media screen and (min-width: $tabwidth) {
		width: 26%;
		float: right;
		margin: 0;
	}
	@media screen and (min-width: $deskwidth) {
		/*width: 1200px;*/
	}
}

/* Logo */
.logo , h1.logo {
	width: 280px;
	margin: 10px auto 0;
	position: relative;
	@media screen and (min-width: $tabwidth) {
		width: 280px;
		float: left;
		margin: 0;
		top: 15px;
	}
	@media screen and (min-width: $midwidth) {
		width: 430px;
		top: -12px;
	}
}
.logo a, h1.logo a {
	width: 100%;
	display: block;

	@media screen and (min-width: $tabwidth) {
	}
	@media screen and (min-width: $deskwidth) {
	}
}
.home-slider {
	width: 100%;

}
.site-footer {
	width: 100%;
	clear: both;
	background-color: $color-yellow;
	color: #fff;
	float: left;
	text-align: center;
	padding: 20px 0;
	a {
		color: #fff;
		text-decoration: none;
	}
}
.button {
	width: auto;
	display: inline-block;
	position: relative;
	z-index: 30;
	margin: 10px auto;
	a {
		padding: 3px 30px;
		text-decoration: none;
		display: block;
		color: #fff;
		background-color: $color-yellow;
		@include transition (all ease-out .2s);
		transform: scale(1);
		&:hover {
			transform: scale(1.1);
		}
	}
}
section.signup {
	width: 100%;
	text-align: center;
	color: #fff;
	padding-top: 40px;
	padding-bottom: 50px;
	h2 {
		width: auto;
		display: inline-block;
		margin: 0 0;
		font-size: 20px;
		@media screen and (min-width: $tabwidth) {
			font-size: 25px;
		}
		a {
			display: block;
			padding: 13px 20px;
			color: #fff;
			text-decoration: none;
			background: $color-orange;
			border-radius: 8px;
			@media screen and (min-width: $tabwidth) {
				padding: 13px 30px;
			}
		}
	}
	
}
header.page {
	width: 100%;
	position: relative;
	z-index: 5;
	text-align: center;
	&:after {
		width: 100%;
		content: '';
		position: absolute;
		border-bottom: 3px solid $color-yellow;
		bottom: 65%;
		left: 0;
	}
	h1 {
		width: auto;
		padding: 0 30px;
		color: $color-orange;
		background-color: #fff;
		position: relative;
		z-index: 6;
		margin: 0 auto;
		display: inline-block;	
		text-transform: uppercase;
		font-size: 24px;
		margin: 0 0 30px 0;
		@media screen and (min-width: $tabwidth) {
			font-size: 24px;
		}
		@media screen and (min-width: $midwidth) {
			font-size: 30px;
		}
		@media screen and (min-width: $deskwidth) {
			font-size: 40px;
		}
	}
}
section.social {
	width: 100%;
	padding: 20px;
	background-color: #fff;
	color: #fff;
	float:left;
	text-align: center;
	svg {
		display: inline-block;
		font-size: 60px;
	}
	a {
		color: $color-dark-blue;
	}
}