.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
section.overview {
	width: 100%;
	float: left;
	border-top: 8px solid $color-light-blue;
	.the-overview {
		width: 100%;
		padding: 20px 10%;
		color: $color-orange;
		line-height: 1.6;
		display: flex;
		flex-direction: column;
		justify-content: center;
		font-size: 6vw;
		@media screen and (min-width: $tabwidth) {
			width: 50%;
			float: left;
			font-size: 1.6vw;
		}
		p {
			margin: 0;
		}
		h2 {
			margin: 0 0 10px 0;
		}
		h1 {
			color: $color-orange;
			text-transform: uppercase;
			font-size: 24px;
			margin: 20px 0 5px 0;
			@media screen and (min-width: $tabwidth) {
				font-size: 24px;
			}
			@media screen and (min-width: $midwidth) {
				font-size: 30px;
			}
			@media screen and (min-width: $deskwidth) {
				font-size: 40px;
			}
		}
	}
	.umbrella {
		width: 100%;
		@media screen and (min-width: $tabwidth) {
			width: 50%;
			float: left;
		}
	}
}
section.whatwedo {
	width: 100%;
	float: left;
	background-color: $color-peach;
	padding: 3%;
	.challenge,
	.response {
		width: 90%;
		margin: 20px auto;
		text-align: center;
		position: relative;
		overflow: hidden;
		@media screen and (min-width: $tabwidth) {
			width: 48%;
			margin: 0;
		}
		header.title {
			text-align: center;
			padding:10px 0;
			
			z-index: 20;
			width: 100%;
			
			color: #fff;
			display: flex;
			flex-direction: column;
			justify-content: center;
			@media screen and (min-width: $tabwidth) {
				position: absolute;
				top: 0;
				height: 20%;
				left: 0;
				padding:0;
			}
			@media screen and (min-width: $midwidth) {
				height: 25%;
			}
			@media screen and (min-width: $deskwidth) {
				height: 25%;
			}
			.prefix {
				width: 100%;
				text-align: center;
				font-size: 14px;
				line-height: 1;
				@media screen and (min-width: $tabwidth) {
					font-size: 14px;
				}
				@media screen and (min-width: $deskwidth) {
					font-size: 24px;
				}
			}
			h2 {
				margin: 0;
				text-transform: uppercase;
				line-height: 1;
				.small {
					font-size: 24px;
				}
				font-size: 30px;
				@media screen and (min-width: $tabwidth) {
					font-size: 20px;
				}
				@media screen and (min-width: $deskwidth) {
					font-size: 40px;
				}
			}
		}
		.image {
			width: 100%;
			position: relative;
			bottom: 0;
			left: 0;
			z-index: 1;
			line-height: 0;
			img {
				width: 100%;
			}
		}
		.copy {
			width: 100%;
			float: left;
			color: #fff;
			
			z-index: 20;
			
			padding: 30px 20px;
			line-height: 1;

			@media screen and (min-width: $tabwidth) {
				position: absolute;
				bottom: 0;
				height:80%;
				left: 0;
				padding: 10px 10px;
			}
			@media screen and (min-width: $midwidth) {
				line-height: 2;
				padding: 30px 20px;
				height: 75%;
			}
			@media screen and (min-width: $midwidth) {
				height: 75%;
			}
			p {
				margin: 0;
			}
		}
		
	}
	.challenge {
		@media screen and (min-width: $tabwidth) {
			float: left;
		}
		header.title {
			background-color: $color-dark-blue;
		}
		.copy {
			background-color: rgba($color-dark-blue, .7);
		}
	}
	.response {
		@media screen and (min-width: $tabwidth) {
			float: right;
		}
		header.title {
			background-color: $color-orange;
		}
		.copy {
			background-color: rgba($color-orange, .7);
		}
	}
}
section.mission, 
section.vision
{
	width: 100%;
	position: relative;
	float: left;
	margin: 0 0 60px 0;
	.image,
	article.info {
		width: 100%;
		overflow: hidden;
		color: $color-dark-blue;
		position: relative;
		@media screen and (min-width: $tabwidth) {
			width: 50%;
			float: left;
		}
		h1 {
			color: $color-orange;
			text-transform: uppercase;
			font-size: 24px;
			margin: 20px 0 5px 0;
			@media screen and (min-width: $tabwidth) {
				font-size: 24px;
			}
			@media screen and (min-width: $midwidth) {
				font-size: 30px;
			}
			@media screen and (min-width: $deskwidth) {
				font-size: 40px;
			}
		}
	}
	.padding {
		padding: 5%;
	}
	.image {
		line-height: 0;
	}
	article.info {
		&.left {
			text-align: left;
			@media screen and (min-width: $tabwidth) {
				padding-right: 5%;
			}
		}
		&.right {
			
			@media screen and (min-width: $tabwidth) {
				padding-left: 5%;
				text-align: right;
			}
		}
	}
}
section.mission
{
	.image {
		border-radius: 0 60px 0 0;
		overflow: hidden;
		@media screen and (min-width: $tabwidth) {
			
		}
	}
	article.info {
		@media screen and (min-width: $tabwidth) {

		}
		&:after {
			width: 90%;
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			border-bottom: 2px solid $color-yellow;
		}
	}
}
.vision
{
	.image {
		border-radius: 60px 0 0 0;
		@media screen and (min-width: $tabwidth) {
			
		}
	}
	article.info {
		
		@media screen and (min-width: $tabwidth) {

		}
		&:after {
			width: 90%;
			content: '';
			position: absolute;
			bottom: 0;
			right: 0;
			border-bottom: 2px solid $color-yellow;
		}
	}
}
.about-mid {
	width: 100%;
	float: left;
	.the-overview {
		width: 100%;
		padding: 10px 3%;
		color: $color-dark-blue;
		line-height: 1.6;
		@media screen and (min-width: $midwidth) {
			width: 50%;
			float: left;
			font-size: 1.3vw;
		}
		h1 {
			color: $color-orange;
			text-transform: uppercase;
			font-size: 24px;
			margin: 20px 0px 0;
			line-height: 1;
			@media screen and (min-width: $tabwidth) {
				font-size: 24px;
				margin: 0px 0px 0;
			}
			@media screen and (min-width: $midwidth) {
				font-size: 30px;
			}
			@media screen and (min-width: $deskwidth) {
				font-size: 40px;
			}
		}
	}
	.umbrella {
		width: 100%;
		@media screen and (min-width: $midwidth) {
			width: 50%;
			float: left;
		}
	}
}
section.our-program {
	width: 100%;
	float: left;
	position: relative;
	.image {
		width: 100%;
		position: relative;
		overflow: hidden;
		float: left;
		line-height: 0;
		z-index: 20;
		img {
			width: 100%;
		}
	}
	.flexbox {
		width: 100%;
		position: relative;
		z-index: 40;
		display: flex;
		flex-direction: column;
		justify-content: center;
		@media screen and (min-width: $midwidth) {
			width: 100%;
			position: absolute;
			right: 0;
			top: 0%;
			height: 100%;
		}
		// @media screen and (min-width: $midwidth) {
		// 	width: 75%;
		// }
		@media screen and (min-width: $deskwidth) {
			width: 50%;
		}
	}
	article.program-contents {
		width: 90%;
		background-color: rgba(#fff, .7);
		color: $color-dark-blue;
		position: relative;
		@media screen and (min-width: $tabwidth) {
			width: 100%;
			text-align: right;
			padding: 20px 5% 0 2%;
			background-color: rgba(#fff, .7);
		}
		@media screen and (min-width: $deskwidth) {
			background-color: rgba(#fff, 1);
		}
		h1, h2 {
			color: $color-orange;
			margin: 0;
		}
		h1 {
			color: $color-orange;
			text-transform: uppercase;
			font-size: 24px;
			margin: 20px 0px 0;
			line-height: 1;
			@media screen and (min-width: $tabwidth) {
				font-size: 24px;
				margin: 0px 0px 0;
			}
			@media screen and (min-width: $midwidth) {
				font-size: 30px;
			}
			@media screen and (min-width: $deskwidth) {
				font-size: 40px;
			}
		}
		h2 {
			font-size: 18px;
			font-style: italic;
			margin: 0 0 10px 0;
			@media screen and (min-width: $deskwidth) {
				font-size: 22px;
			}
		}
		


	}
}
section.our-staff {
	width: 100%;
	float: left;
	position: relative;
	padding: 60px 0;
	.staff-push {
		width: 100%;
		padding: 60px 0;
	}
	.staff-member {
		width: 100%;
		@media screen and (min-width: $tabwidth) {
			width:65%;
			padding: 0 0 0 10%;
		}
		.staff-photo {
			width: 90%;
			margin: 0 auto;
			@media screen and (min-width: $tabwidth) {
				width: 40%;
				float: left;
				margin: 0 5% 0 0;
			}
			img {
				width: 100%;
			}
		}
		.staff-info {
			width: 90%;
			margin: 0 auto;
			text-align: left;
			color: $color-light-blue;
			@media screen and (min-width: $tabwidth) {
				width: 55%;
				float: left;
			}
			h2 {
				color: $color-orange;
				margin: 0;
				text-transform: uppercase;
				font-size: 20px;
			}
			.info {
				width: 100%;
				margin: 10px 0;
				float: left;
				font-size: 14px;
			}
			.title {
				color: $color-dark-blue;
				margin-bottom: 10px;
			}
			a {
				color: $color-light-blue;
				text-decoration: none;
			}
		}
	}
	.bod {
		width: 100%;
		background-color: $color-baby-blue;
		@media screen and (min-width: $tabwidth) {
			width: 25%;
			float: left;
		}
		.list {
			padding: 20px;
			width: 100%;
		}
		ul {
			margin: 0;
			padding: 0;
			list-style-type: none;
		}
		li {
			color: $color-dark-blue;
			text-transform: uppercase;
			font-size: 12px;
			margin: 0 0 5px 0;
		}
		h2 {
			display: block;
			width: 100%;
			background-color: $color-orange;
			color: #fff;
			margin: 0;
			text-align: center;
			text-transform: uppercase;
			font-weight: 300;

		}
	}
}
article.challenge, article.response {
	width: 100%;
	position: relative;
	margin: 0 0 60px 0;
	overflow: hidden;
	@media screen and (min-width: $tabwidth) {

	}
	h1 {
		color: $color-orange;
		text-transform: uppercase;
		font-size: 24px;
		margin: 20px 0px 0 0;
		line-height: 1;
		@media screen and (min-width: $tabwidth) {
			font-size: 24px;
		}
		@media screen and (min-width: $midwidth) {
			font-size: 30px;
		}
		@media screen and (min-width: $deskwidth) {
			font-size: 40px;
		}
		.small {
			font-size: 22px;
			font-style: italic;
			line-height: 1;
			text-transform: capitalize;
			margin: 0px 0 20px 0;
			clear: both;
			width: 100%;
		}
	}
	.copy {
		width: 100%;
		color: $color-dark-blue;
		position: relative;
		@media screen and (min-width: $tabwidth) {
			width: 45%;
			
		}
	}
	.image {
		width: 100%;
		overflow: hidden;
		line-height: 0;
		@media screen and (min-width: $tabwidth) {
			width: 50%;
			float: left;
		}
		img {
			width: 100%;
		}
	}
	.strategies {
		width: 100%;
		float: left;
		position: relative;
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
		}
		li {
			margin: 0 0 5px 0;
			width: 100%;
			overflow: hidden;
		}
		.numbox {
			padding: 5px 10px;
			color: #fff;
			background-color: $color-orange;
			border-radius: 0 5px 0 0 ;
			text-align: center;
			float: left;
			margin: 0 5px 0 0;
		}
		.strat {
			color: $color-orange;
			width: auto;
			float: left;
			line-height: 2;
		}
	}
}
article.challenge {
	
	@media screen and (min-width: $tabwidth) {
		
	}
	.copy {
		@media screen and (min-width: $tabwidth) {
			padding: 0  5% 0 0;
			margin: 0 0 0 5%;
			float: left;
			&:after {
				width: 90%;
				content: '';
				position: absolute;
				border-bottom: 2px solid $color-yellow;
				left: 0;
				bottom: 0;
			}
		}
		blockquote {
			width: 100%;
			padding: 20px;
			background-color: $color-dark-blue;
			color: #fff;
			margin: 0;
		}
	}
	.image {
		@media screen and (min-width: $tabwidth) {
			border-radius: 60px 0 0 0;
			float: left;
		}
	}
}
article.response {
	// text-align: right;
	
	// font-size: 20px;
	@media screen and (min-width: $tabwidth) {

	}
	.copy {
		color: $color-dark-blue;
		@media screen and (min-width: $tabwidth) {
			padding: 0 0 0 5%;
			margin: 0 5% 0 0;
			float: right;
		}
	}
	.image {
		@media screen and (min-width: $tabwidth) {
			border-radius: 0 60px 0 0;
			float: left;
		}
	}
	blockquote {
		padding: 0;
		margin: 0;
		color: $color-dark-blue;
		font-size: 16px;
	}
}
article.impact {
	font-size: 1rem;
	text-align: left;
	.copy {
		color: $color-dark-blue;
	}
	ul {
		margin-top: 1.5rem;
	}
}
article.blogpost {
	width: 100%;
	float: left;
	margin: 0 0 40px 0;
	-webkit-box-shadow: 0px 0px 12px -1px rgba(0,0,0,0.32);
	-moz-box-shadow: 0px 0px 12px -1px rgba(0,0,0,0.32);
	box-shadow: 0px 0px 12px -1px rgba(0,0,0,0.32);
	border-radius: 60px 0 0 0;
	.featured-image {
		width: 30%;
		float: left;
		border-radius: 60px 0 0 0;
		overflow: hidden;
		line-height:0;
		img {
			width: 100%;
		}
	}
	.content {
		width: 65%;
		float: right;
		padding: 0  5% 5% 5%;
		color: $color-dark-blue;
	}
	h2 {
		font-size: 30px;
		color: $color-orange;
	}
}



